@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #F4722B;

  --color-text-white: #FFFFFF;
  --color-text-light: #D9D9D9;

  --color-text-dark: #0f0d23;

  --font-dm-sans: DM Sans, sans-serif;

  --breakpoint-xs: 480px;
}

@layer base {
  body {
    font-family: 'DM Sans', serif;
    background: #1E1B17;

    @apply text-text-light;
  }

  h1 {
    @apply text-2xl lg:text-4xl text-text-white font-bold;
  }

  h2 {
    @apply text-xl lg:text-3xl text-text-white font-bold;
  }

  h3 {
    @apply lg:text-2xl text-text-white font-bold;
  }

  h4 {
    @apply lg:text-xl text-text-white font-bold;
  }
}

@layer components {
  .header-link {
    @apply text-white hover:text-primary;
  }
}

@utility container {
  @apply mx-auto px-4;
}
